{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Why Us?</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
<style>
.faqs{
    
    padding:0 20% 0 20%;
}
</style>

</head>

<body style="background-color: rgba(172, 172, 168, 0.185);">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">Corona Virus India</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/why">Why Us?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">About Us?</h1>
        <p class="lead">You can contact us on this email- surajsharmaxp5@gmail.com </p>
      </div>
    </div>
  </div>

  

    <!-- cards -->
    <div class="container mt-2 mb-4">
      <div class="card-deck">
        <div class="card bg-primary">
          <div style="color: white;" class="card-body text-center">
            <p  class="card-text">Total Confirmed Cases</p>
            <h1 id="tcnf"></h1>
          </div>
        </div>
        <div class="card bg-warning">
          <div style="color: white;" class="card-body text-center">
            <p class="card-text">Total Active Cases</p>
            <h1 id="tact"></h1>
          </div>
        </div>
        <div class="card bg-success">
          <div style="color: white;" class="card-body text-center">
            <p class="card-text">Total Recovery Cases</p>
            <h1 id="trec"></h1>
          </div>
        </div>
        <div class="card bg-danger">
          <div style="color: white;" class="card-body text-center">
            <p class="card-text">Total Death Cases</p>
            <h1 id="tdth"></h1>
          </div>
        </div>
      </div>
    </div>
    <!-- card end -->

  <div class="container" style="margin-top: 1em;" id="map">
    <div class="row text-enter">
      <!-- <div class="col">Last Updated</div> -->
      <div class="col text-center" style="margin-bottom: 1em; color: #A9A9A9; font-style: italic;"></div>
    </div>

    <div class="container" style="margin-top: 1em;" id="map">
      <div class="row text-enter">
        <!-- <div class="col">Last Updated</div> -->
        <div class="col text-center"
          style="margin-bottom: 1em; color: #A9A9A9; font-style: italic;"></div>
      </div>

    </div>
  </div>


<div class="container"> 
  <div class="row">

    <div class="col-sm-6 mt-3">

    </div>
    
    <div class="col-sm-6 mt-3">
 
    </div>
  </div>
</div>
     
   

  <!-- Bootstrap core JavaScript -->
  <script src="{% static "vendor/jquery/jquery.slim.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
	<script>
		function _colornum(color) {
			var l = color.length;
			return [
				parseInt(color.slice(l - 6, l - 4), 16),
				parseInt(color.slice(l - 4, l - 2), 16),
				(color.slice(l - 2, l - 0), 16)
			];
		}

		function gradient(x, ranges) {
			if (x <= ranges[0][0]) {
				return ranges[0][1];
			}
			if (x >= ranges[ranges.length - 1][0]) {
				return ranges[ranges.length - 1][1];
			}
			for (var i = 0, range; range = ranges[i]; i++) {
				var start = range[0],
					color = range[1];
				if (x < start) {
					break;
				}
			}
			var p = (x - ranges[i - 1][0]) / (ranges[i][0] - ranges[i - 1][0]);
			var a = _colornum(ranges[i - 1][1]);
			var b = _colornum(ranges[i][1]);
			return 'rgb(' +
				Math.round((a[0] * (1.0 - p) + b[0] * p)) + ',' +
				Math.round((a[1] * (1.0 - p) + b[1] * p)) + ',' +
				Math.round((a[2] * (1.0 - p) + b[2] * p)) + ')';
		}

    var GRADIENTS = {
			'increasing': [
				[0, '#0043F7'],
				[0.5, '#0061F7'],
				[1, '#008EF7']
			],
			'decreasing': [
				[0, '#008EF7'],
				[0.5, '#0061F7'],
				[1, '#0043F7']
			]
		};
		var GRADIENT = GRADIENTS.increasing;

		// SPECIAL BOI - Data

		function renderData(data) {
			for (var key in data) {
				var modKey = String(key);
				modKey = modKey.split(' ').join('_');
				keyShow = key;
                console.log(key)
                console.log(modKey)
				if ((modKey == "Aurangabad_Maharastra") || (modKey == "Aurangabad_Bihar")) {
					keyShow = "Aurangabad";
				}
				if (modKey == "DIST_NA") {
					continue;
				}
				var flag = 0;
				try {
					document.getElementById(modKey).style.fill = gradient(1 - data[key].value, GRADIENT);
					$("#" + modKey + " title").text(keyShow + ' | Infected: ' + data[key].infected + ' | Deaths: ' + data[key]
						.dead);
					$("#" + modKey).attr("title", keyShow + ' | Infected: ' + data[key].infected + ' | Deaths: ' + data[key]
						.dead);
					flag = 1;
				} catch (err) {
					var a = 1 + 1;
				}


				if (flag == 0) {
					try {
						var allClasses = document.getElementsByClassName(modKey)
						for (var i = 0; i < allClasses.length; ++i) {

							allClasses[i].style.fill = gradient(1 - data[key].value, GRADIENT);
							allClasses[i].childNodes[0].textContent = key + ' | Infected: ' + data[key].infected +
								' | Deaths: ' + data[key].dead;
							allClasses[i].title = key + ' | Infected: ' + data[key].infected + ' | Deaths: ' + data[key].dead;
							$(allClasses[i]).attr('data-original-title', key + ' | Infected: ' + data[key].infected +
								' | Deaths: ' + data[key].dead);

						}
					} catch (err) {
						var a = 1;
					}
				}
			}
		}

		var initLoadTooltip = false;

		window.onload = function () {
			var districtData = {};
			$.when(
				$.ajax("https://v1.api.covindia.com/district-values").then(response => {
					districtData = response;
					renderData(districtData);
					$('.clickable').tooltip();

					$('.clickable').tooltip({
						open: function (e, o) {
							$(o.tooltip).mouseover(function (e) {
								$('.clickable').tooltip('close');
							});
							$(o.tooltip).mouseout(function (e) {});
						},
						close: function (e, o) {},
						show: {
							duration: 800
						}
					});

					try {
						$(".Delhi").attr('data-original-title', 'Delhi' + ' | Infected: ' + districtData['Delhi']
							.infected + ' | Deaths: ' + districtData['Delhi'].dead);
					} catch {
						var a = 1;
					}
					try {
						$(".Mumbai").attr('data-original-title', 'Mumbai' + ' | Infected: ' + districtData[
							'Mumbai'].infected + ' | Deaths: ' + districtData['Mumbai'].dead);
					} catch {
						var a = 1;
					}
					$('#Mumbai-Unique').tooltip().mouseover();
					$('#Ladakh').tooltip().mouseover();
					$('#Kasargod').tooltip().mouseover();
					$('#Delhi-Unique').tooltip().mouseover();
				})
			);
		};

		$("#map").on("tap", function () {
			if (initLoadTooltip == false) {
				$('#Mumbai-Unique').tooltip().mouseout();
				$('#Delhi-Unique').tooltip().mouseout();
				$('#Ladakh').tooltip().mouseout();
				$('#Kasargod').tooltip().mouseout();

				initLoadTooltip = true;
			}
		});

		$("#map").on("click", function () {
			if (initLoadTooltip == false) {
				$('#Mumbai-Unique').tooltip().mouseout();
				$('#Delhi-Unique').tooltip().mouseout();
				$('#Ladakh').tooltip().mouseout();
				$('#Kasargod').tooltip().mouseout();
				initLoadTooltip = true;
			}
		});

	
	
	</script>
	
  
</body>

</html>
